@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Rowdies&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 500px 50px;
    /*grid-template-areas: 
    "encabezado encabezado"
    "contenido contenido aside"
    "pie pie pie";*/
    row-gap: 20px;
}

/*header{
    grid-area: "encabezado";
}
.mainPresentacion{
    grid-area: "contenido";
}
aside{
    grid-area: "aside";
}

footer{
    grid-area: "pie";*/


/* Contenido del Nav */

nav{
    background-color: #8A2BE2;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 60px auto;
    width: 100%;
}

.navLogo{
    color: black;
    font-size: 20px;
    text-align: center;
}

.navMenu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #8A2BE2;
}

.navMenu__list-align{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    background-color: #8A2BE2;
}

.listStyle{
    display: flex;
    flex-flow: row nowrap;
    border: solid 1px black;
    background-color: #8A2BE2;
    padding: 5px;
    margin: auto;
}

li:hover{
    background-color: rgb(60, 112, 209);
    transform: scaleY(1.5) scaleX(1.5);

}


/* Contenido Principal */

main{
    display: flex;
    flex-flow: column wrap;
}

.mainPresentacion{
    margin-top: 30px;
    font-family: 'Rowdies', cursive;
}

#Inicio{
    display: inline-block;
    color: #8A2BE2;
    font-size: 25px;

} 

iframe{
    overflow: scroll;
    width: 320px;
    height: 240px;
}

/* Menu de Repuestos */

.menuVenta{
    display: inline-block;
}

.itemsVenta{
    display: inline-block;
}

/* Contenido del Footer */

footer{
    display: flex;
    flex-direction: row;
}

.footerRedes{
    display: inline-block;
    padding: 5vh;
    background-color: rgb(10, 9, 22);
}

.redesTittle{
    font-size: 20px;
    color: cyan;
}

.footerContact{
    display: flex;
    padding-top: 5vh;
}


@media (min-width: 600px){

    body{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 60px 400px 50px;
    }

    nav{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        background-color: #8A2BE2;
    }

    .navMenu{
        display: flex;
        flex-flow: row nowrap;
        
    }
    
    .navMenu__list-align{
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: end;
        background-color: #8A2BE2;
    }

    .listStyle{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        border: solid 1px black;
        margin: 0 auto;
        padding: 10px;
    }

    /* Contenido Principal */

    /* Footer */
    
    .footerContact{
        list-style: none;
    }
}